:root{
	--mainColor:#bfb8da;
	--secondaryColor:#7afcd6;

	--borderColor:#33539E;

	--mainText:#A5678E;
	--secondaryText:#1261a0;

	--themeDotBorder:#FFF;

	--previewBg:rgb(29, 21, 32, 0.8);
	--previewShadow:#2a2f25;

	--buttonColor:#A5678E;


}
