:root{
	--mainColor:#191414;
	--secondaryColor:#1db954;

	--borderColor:#33539E;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(29, 21, 32, 0.8);
	--previewShadow:#2a2f25;


	--buttonColor:#185a37;


}
